:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  --bg-dark-theme: #242424;
  --color-dark-theme: rgba(255, 255, 255, 0.87);

  --bg-light-theme: #ffffff;
  --color-light-theme: #213547;

  color-scheme: light dark;
  color: var(--color-dark-theme);
  background-color: var(--bg-dark-theme);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

/* switch to light theme based on OS prefers*/
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-light);
    background-color: var(--bg-light-theme);
  }
}
